@import "tailwindcss";

@layer utilities {
    .badge {
        @apply px-3 py-1 rounded-full border-2 border-black
    }

    .badge-primary {
        @apply bg-blue-200
    }

    .badge-warning {
        @apply bg-yellow-200
    }

    .input {
        @apply border-2 border-black rounded-2xl bg-white transition-all duration-200 ease-in-out px-4 py-3 focus:outline-none focus:-translate-y-0.5 focus:shadow-[3px_3px_0_#FF6B6B] focus:border-[#FF6B6B]
    }

    .btn {
        @apply px-2 py-3 transition-colors;
    }

    .btn-primary {
        @apply !bg-blue-500 text-white hover:!bg-blue-600;
    }

    .btn-danger {
        @apply !bg-red-500  text-black hover:!bg-red-600 ;
    }

    .btn-info {
        @apply !bg-cyan-500 text-white hover:!bg-cyan-600;
    }

    .btn-warning {
        @apply !bg-yellow-500 text-white hover:!bg-yellow-600 ;
    }

    .btn-success {
        @apply !bg-green-500 text-white hover:!bg-green-600;
    }

}