@import "tailwindcss";

@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Cabin_Sketch_Normal.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Cabin Sketch Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Cabin_Sketch_Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Comic_Neue_Normal.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Comic Neue Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Comic_Neue_Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer utilities {
    .badge {
        @apply px-3 py-1 rounded-full border-2 border-black
    }

    .badge-primary {
        @apply bg-blue-200
    }

    .badge-warning {
        @apply bg-yellow-200
    }

    .input {
        @apply border-2 border-black rounded-2xl bg-white transition-all duration-200 ease-in-out px-4 py-3 focus:outline-none focus:-translate-y-0.5 focus:shadow-[3px_3px_0_#FF6B6B] focus:border-[#FF6B6B]
    }

    .btn {
        @apply px-2 py-3 cursor-pointer transition-colors;
    }

    .btn-outline {
        @apply !bg-gray-200;
    }

    .btn-primary {
        @apply bg-blue-500 text-white hover:!bg-blue-600;
    }

    .btn-danger {
        @apply bg-red-500  text-black hover:!bg-red-600 ;
    }

    .btn-info {
        @apply bg-cyan-500 text-white hover:!bg-cyan-600;
    }

    .btn-warning {
        @apply bg-yellow-500 text-white hover:!bg-yellow-600 ;
    }

    .btn-success {
        @apply bg-emerald-400 text-white hover:!bg-emerald-500;
    }

}